<div class="social-network-container position-relative">
  <div class="navbar-custom">
    <div class="row">
      <div class="col-3">
        <span class="title">Social Network</span>
      </div>
      <div class="col-5 d-flex align-items-center">
        <input class="input-search" type="text" placeholder="Find">
        <div class="search-icon-container">
          <img src="./assets/images/search.png" alt="" class="search-icon">
        </div>
      </div>
      <div class="col-auto d-flex align-items-center">
        <div class="btn-upload">⬆ Upload</div>
      </div>
      <div class="col-auto d-flex align-items-center">
        <div class="profile">
          👤
        </div>
        <div class="profile-name-container">
          <span class="profile-name position-relative">Waseem <br> Arshad <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill custom-pill">W</span></span> <br>
        </div>
      </div>
    </div>
  </div>

  <div class="toggle-menu">
    <img src="./assets/images/burger-menu.png" alt="" class="icon" (click)="toggleMenu = !toggleMenu">
    <div class="container" *ngIf="toggleMenu">
      <div class="mb-24">
        <span class="title">Social Network</span>
      </div>

      <div class="d-flex align-items-center mb-16">
        <input class="input-search" type="text" placeholder="Find">
        <div class="search-icon-container">
          <img src="./assets/images/search.png" alt="" class="search-icon">
        </div>
      </div>

      <div class="text-right d-flex justify-content-end mb-16">
        <div class="btn-upload">⬆ Upload</div>
      </div>

      <div class="d-flex justify-content-end align-items-center">
        <div class="profile">
          👤
        </div>
        <div class="profile-name-container">
          <span class="profile-name position-relative">Waseem <br> Arshad</span> <br>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Videos</a></li>
        <li class="breadcrumb-item active" aria-current="page">People</li>
        <li class="breadcrumb-item"><a href="/home">Documents</a></li>
        <li class="breadcrumb-item"><a href="/home">Events</a></li>
        <li class="breadcrumb-item"><a href="/home">Communities</a></li>
        <li class="breadcrumb-item"><a href="/home">Favorites</a></li>
        <li class="breadcrumb-item"><a href="/home">Channels</a></li>
      </ol>
    </nav>
  </div>

  <div class="row mb-3">
    <div class="col-lg-3 col-md-6 d-flex align-items-end">
      <span class="custom-title">Videos</span>
    </div>
    <div class="col-lg-5 col-md-6 d-flex align-items-end">
      <span class="custom-sub-title">Browse all videos</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end small-layout">
      <span class="custom-title">Activity</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end small-layout">
      <span class="custom-sub-title">View Timeline</span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 mb-2">
      <div class="row mb-2">
        <div class="col-8">
          <div class="d-flex align-items-end justify-content-between box-l">
            <div>
              <span class="box-label">How to improve your skills</span> <br>
              <span class="box-sub-label">Waseem Arshaid</span>
            </div>
            <div>
              <span class="box-views">15454 views</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Michael Keliph</span> <span class="box-views">15454 views</span>
              </div>
            </div>
          </div>
          <div class="row" style="height: auto;">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Ahmed Yasin</span> <span class="box-views">1984 views</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Stainor</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Doe</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-center box-border justify-content-center">
            <span>Upload <br> Your Own Video</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12 mb-2" style="height: 600px; overflow-y: scroll;">
      <div class="row">
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-title">Activity</span>
        </div>
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-sub-title">View Timeline</span>
        </div>
      </div>
      <div class="row mb-2 activity-box" *ngFor="let item of productList">
        <div class="col p-0">
          <div class="d-flex align-items-center justify-content-center" style="background-color: lightgoldenrodyellow; height: 75px;">
            <img [src]="item.thumbnail" alt="" style="width: 100px; height: 50px;">
          </div>
        </div>
        <div class="col">
          <span class="activity-label">{{ item.brand }}</span>&nbsp;<span class="activity-sub-label">{{ item.category }}</span> <br>
          <div class="activity-desc">{{ item.description }}</div>
          <span class="activity-datetime">$ {{ item.price }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-3 col-md-6 d-flex align-items-end">
      <span class="custom-title">People</span>
    </div>
    <div class="col-lg-5 col-md-6 d-flex align-items-end">
      <span class="custom-sub-title">View all</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end small-layout">
      <span class="custom-title">Channels</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end small-layout">
      <span class="custom-sub-title">Browse all channels</span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 mb-2">
      <div class="row mb-2">
        <div class="col-8">
          <div class="d-flex align-items-end justify-content-between box-l">
            <div>
              <span class="box-label">How to improve your skills</span> <br>
              <span class="box-sub-label">Waseem Arshaid</span>
            </div>
            <div>
              <span class="box-views">15454 views</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Michael Keliph</span> <span class="box-views">15454 views</span>
              </div>
            </div>
          </div>
          <div class="row" style="height: auto;">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Ahmed Yasin</span> <span class="box-views">1984 views</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Stainor</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Doe</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-center box-border justify-content-center">
            <span>Upload <br> Your Own Video</span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-5 col-md-6 d-flex align-items-end">
          <span class="custom-title">Documents</span>
        </div>
        <div class="col-lg-5 col-md-6 d-flex align-items-end">
          <span class="custom-sub-title">Browse all documents</span>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-8">
          <div class="d-flex align-items-end box-l">
            <span>How to improve your skills</span>
          </div>
        </div>
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <div class="d-flex align-items-end box-m">
                <span>Michael</span>
              </div>
            </div>
          </div>
          <div class="row" style="height: auto;">
            <div class="col">
              <div class="d-flex align-items-end box-m">
                <span>Ahmed Yasin</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-4">
          <div class="d-flex align-items-end box-m">
            <span>John Stainor</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end box-m">
            <span>John Doe</span>
          </div>
        </div>
        <div class="col-4">
          <div>
            <span>Upload Your Own Video</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12 mb-2" style="height: 720px; overflow-y: scroll;">
      <div class="row">
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-title">Activity</span>
        </div>
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-sub-title">View Timeline</span>
        </div>
      </div>
      <div style="height: 600px;">
        <div class="row">
          <div class="col-lg-6 mb-2 pl-0" *ngFor="let item of [1,2,3,4,5,6,1,1,1,1]">
            <div class="d-flex align-items-end box-m">
              <span>John Stainor</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="border-bottom: 4px solid lightgoldenrodyellow;">

  <div class="footer">
    <div class="social-media-container d-flex">
      <div class="social-media">
        🐦
      </div>
      <div class="social-media">
        in
      </div>
      <div class="social-media">
        f
      </div>
    </div>


    <div class="footer-breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">About</a></li>
          <li class="breadcrumb-item active" aria-current="page">For Business</li>
          <li class="breadcrumb-item"><a href="/home">Suggestion</a></li>
          <li class="breadcrumb-item"><a href="/home">Help & FAQs</a></li>
          <li class="breadcrumb-item"><a href="/home">Contacts</a></li>
          <li class="breadcrumb-item"><a href="/home">Pricing</a></li>
        </ol>
      </nav>
    </div>

    <div class="mb-3" style="color: lightgoldenrodyellow;">
      Copyright 2013 companyname inc. <br>
      Privacy / Terms
    </div>
  </div>

</div>
