@media screen and (max-width: 992px) {
  .navbar-custom {
    display: none;
  }
  .social-network-container {
    padding: 24px;
    background-color: maroon;
  }
  
  .small-layout {
    display: none;
  }

  .toggle-menu {
    position: absolute;
    top: 35px;
    right: 25px;
    text-align: right;

    .icon {
      width: 35px;
      background-color: lightgoldenrodyellow;
      cursor: pointer;
    }

    .container {
      border: 1px solid #fff;
      background-color: maroon;
      padding: 24px;
    }

    .title {
      font-size: 32px;
      color: lightgoldenrodyellow;
    }

    .input-search {
      background-color: lightgoldenrodyellow;
      width: 100%;
      padding: 8px;
      outline: none;
    }

    .search-icon {
      width: 20px;

      &-container {
        background-color: lightgoldenrodyellow;
        padding: 8px;
        cursor: pointer;
      }
    }
  
    .btn-upload {
      outline: none;
      background-color: lightgoldenrodyellow;
      padding: 8px 6px;
      width: fit-content;
      cursor: pointer;
    }
  
    .profile {
      padding: 8px;
      background-color: lightgoldenrodyellow;
      height: 40px;
      cursor: pointer;
      &-name {
        color: lightgoldenrodyellow;
        &-container {
          margin-left: 6px;
        }
      }
      &-btn {
        color: lightgoldenrodyellow;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .social-network-container {
    padding: 24px 128px;
    background-color: maroon;
  }

  .small-layout {
    display: block;
  }

  .toggle-menu {
    display: none;
  }

  .navbar-custom {
    margin-bottom: 32px;
    .title {
      font-size: 32px;
      color: lightgoldenrodyellow;
    }
  
    .input-search {
      background-color: lightgoldenrodyellow;
      width: 100%;
      padding: 8px;
    }

    .search-icon {
      width: 20px;

      &-container {
        background-color: lightgoldenrodyellow;
        padding: 8px;
        cursor: pointer;
      }
    }
  
    .btn-upload {
      outline: none;
      background-color: lightgoldenrodyellow;
      padding: 8px 6px;
      cursor: pointer;
    }
  
    .profile {
      padding: 8px;
      background-color: lightgoldenrodyellow;
      height: 40px;
      cursor: pointer;
      &-name {
        color: lightgoldenrodyellow;
        &-container {
          margin-left: 6px;
        }
      }
      &-btn {
        color: lightgoldenrodyellow;
      }
    }
  
    .custom-pill {
      background-color: lightgoldenrodyellow;
      color: maroon;
    }
  }
}

.nav-breadcrumb {
  padding-top: 16px;
  border-top: 1px solid lightgoldenrodyellow;
  border-bottom: 1px solid lightgoldenrodyellow;
}

.nav-breadcrumb > nav, ol, li, a {
  color: lightgoldenrodyellow !important;
  font-weight: 400;
  text-decoration: none;
}

.custom {
  &-title {
    color: lightgoldenrodyellow;
    font-size: 24px;
    font-weight: 400;
    line-height: 2;
  }
  &-sub-title {
    color: lightgoldenrodyellow;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
  }
}

.box {
  &-label {
    color: maroon;
    font-weight: 700;
    font-size: 24px;
  }
  &-sub-label {
    color: maroon;
    font-weight: 700;
    font-size: 16px;
  }
  &-views{
    color: maroon;
    font-weight: 600;
    font-size: 12px;
  }

  &-m {
    background-color: lightgoldenrodyellow;
    height: 200px;
    padding: 12px;
  }
  &-l {
    background-color: lightgoldenrodyellow;
    height: 100%;
    padding: 12px;
  }
  &-border {
    border: 1px solid lightgoldenrodyellow;
    height: 200px;
    padding: 12px;
    color: lightgoldenrodyellow;
  }
  
}

.activity {
  &-box {
    padding: 8px;
  }

  &-box:hover {
    border: 1px solid lightgoldenrodyellow;
    cursor: pointer;
  }

  &-label {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 12px;
  }
  &-sub-label {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 10px;
  }
  &-desc {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 12px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-datetime {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 10px;
  }
}

.footer {
  .social-media {
    background-color: lightgoldenrodyellow;
    width: 26px;
    height: 26px;
    margin-right: 8px;
    text-align: center;
    margin-bottom: 24px;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}